body{
    background-color: lightblue;
}

.bold{
    font-weight: bold;
}

.ta-logo{
    width: 600px;
    height: 300px;
    position: relative;
}

.logo-border{
    border-width: 2px;
    border-style: dotted;
    border-color: red;
    display: inline-block;
    padding: 5px;
}

h3{
    text-align: center;